### OSX Ignores
.DS_Store
Icon

# Thumbnails
._*

### Ignore vundle
files/.vim/bundle/

### Ignore workfiles
workfiles/**/*

### Ignore ./secret_files directory
secret_files/**/*

### Ignore secrets
*.secrets
