[user]
  email = joe.depung@gmail.com
  name = Joe DePung

[alias]
  lg = log --graph --abbrev-commit --date=relative
  st = status
  br = branch
  ci = commit
  co = checkout
  di = diff
  dc = diff --cached
  aa = add --all
  amend = commit --amend
  staged = diff --staged

[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[core]
  editor = vim -f
[push]
  default = simple
[merge]
  conflictstyle = diff3
[difftool "idiff"]
	cmd = diff -i --ignore-space-change $LOCAL $REMOTE
